.headbk , .bklog{
    background-color: #0B83DB; 
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
body{
    font-family: sans-serif;
    background: linear-gradient(135deg , #8DD8FF,#0B83DB);
    height: 101vh;
    /* align-items: center; */
}
.headbk img {
    position: relative;
    width: 30px;
    height: 30px;
    left: -50%;
}

.bkdaftar{
    text-align: center;
}

.bkdaftar input{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #0BCDDB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bkdaftar button{
    background-color: #0BCDDB;
    border-radius: 5px;
}


.bklog h1,.headbk h1{
    color: white;
}
.bklog img{
    position: relative;
    width: 30px;
    height: 30px;
    left: -100%;
}
.bklogisi{
    text-align: center;
}

.bklogisi input{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #0BCDDB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.bklogisi button{
    background-color: #0BCDDB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
fieldset{
    background-color: whitesmoke;
    border: 1px solid #0BCDDB;
    padding: 50px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}