.headbk , .bklog{
  background-color: #0B83DB; 
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
body{
    font-family: sans-serif;
    background: linear-gradient(135deg , #8DD8FF,#0B83DB);
    height: 101vh;
}
.headbk img {
    position: relative;
    width: 30px;
    height: 30px;
    left: -100%;
}
.headbk{
    margin-left: 18%;
}
.bkdaftar{
    text-align: center;
}
.bkdaftar button{
    background-color: #0BCDDB;
}
.bklog{
    margin-left: 18%;
}
.bklog h1,.headbk h1{
    color: white;
}
.bklog img{
    position: relative;
    width: 30px;
    height: 30px;
    left: -100%;
}
.bklogisi{
    text-align: center;
}
.bklogisi button{
    background-color: #0BCDDB;
}
fieldset{
    background-color: whitesmoke;
    border: 1px solid #0BCDDB;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 8px;
}