body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: linear-gradient(135deg , #8DD8FF, #0B83DB);
}

h1, h2 {
  text-align: center;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

label {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

button {
  background-color: aquamarine;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 8px;
}

.back-button {
  display: flex;
  align-items: center;
}

.back-button img {
  width: 30px;
}

.container {
  padding: 20px;
}

.button-container {
  margin-top: 1rem;
}
