.headconfir{   
  background-color: #0B83DB; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  max-width: 1000px; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.headconfir h1,.Qris h1{
    color: white;
}
body{
    font-family: sans-serif;
    background: linear-gradient(135deg , #8DD8FF,#0B83DB);
    height: 101vh;
    
}
fieldset{
    background-color: whitesmoke;
    border: 1px solid #0BCDDB;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 8px;
}
.Qris img{
    width: 300px;
}
.pkirim{
    margin-left: 35%;
}