body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background: linear-gradient(135deg , #8DD8FF, #0B83DB);
}

h1, h2 {
  text-align: center;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

input[type="radio"] {
  display: block;
  margin: 0 auto 10px auto;
}

label {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

button {
  background-color: aquamarine;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 8px;
}
.payment-nominal{
    margin-left: 36px;
}
.container {
  padding: 20px;
}

.pmh {
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  margin: 0 auto;
  max-width: 1000px; 
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.pmh img {
  width: 30px;
}

.pmh h1 {
  color: #0B83DB;
  margin: 0;
  font-size: 1.5rem;
}

.metisi {
  padding: 20px;
}

.payment-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 2rem;
}

.metisi img {
  width: 250px;
  height: 140px;
  border-radius: 20px;
  padding: 5px;
}

