body{
    background: linear-gradient(135deg , #8DD8FF,#0B83DB);
    height: 101vh;
}
.hps{
    background-color: #0B83DB; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    max-width: 1000px; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}
.hps h1{
    color: white;
}
.ips{
    text-align: center;
    border-radius: 16px;
    height: 400px;
    background-color: whitesmoke;
    border: 1px solid #0BCDDB;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
}
.ips button{
    background-color: red;
    color: white;
}
.ips img{
    width: 150px;
}

